<!DOCTYPE html>

<html lang="es">
    <head>        
        <meta charset="UTF-8">
        <title>Menú Principal</title>

        <link rel="stylesheet" type="text/css" href="css/menu.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-icons.min.css">
    </head>
    <body>
        <div class="container">
            <span class="mif-chevron-left mif-3x boton"></span>
            <nav>
                <ul id="menu_principal">
                    <li><a href="#"><span class="mif-users mif-3x principales"></span>Cuenta</a></li>
                    <li><a href="#"><span class="mif-tags mif-3x principales"></span>Tareas</a></li>

                    <li>
                        <label for="drop-1">
                            <span class="mif-books mif-3x principales"></span>Proyectos
                            <span class="mif-chevron mif-2x derecha"></span>
                            <span class="mif-chevron-right mif-2x derecha"></span>
                        </label>
                        <input type="checkbox" id="drop-1">

                        <ul>
                            <li><a href="">Gerencia</a></li>
                            <li><a href="">Ingenieria de Software II</a></li>
                            <li><a href="">Ingenieria de Software I</a></li>
                            <li><a href="">Practica Aplicada</a></li>
                        </ul>
                    </li>

                    <li><a href="#"><span class="mif-clipboard mif-3x principales"></span>Notas</a></li>
                    <li><a href="principal.html"><span class="mif-exit mif-3x principales"></span>Salir</a></li>
                </ul>

            </nav>
        </div>
        <div class="footer"></div>

        <script src="js/main.js"></script>
    </body>
</html>