<!DOCTYPE html>

<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <title>Principal</title>
        <link rel="stylesheet" type="text/css" href="css/principal.css">
    </head>

    <body>
        <header>
            <div class="contenedor">
                <nav class="menu-fixed">
                    <ul>
                        <li><a href="#"><h1>Nómina</h1></a></li>
                        <li><a href="#"><h1>Modalidad Virtual</h1></a></li>
                        <li><a href="login.html"><h1>Inicio</h1></a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer"></div>
        </header>
    </body>
</html>